main {
  margin-block: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  aspect-ratio: 1;
}

.sort-buttons {
  display: inline-block;
}

.sort-buttons > a {
  --bs-btn-padding-y: .15rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: 0.75rem;
}

.reset-button {
  --bs-btn-padding-y: 0.15rem;
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-font-size: 2rem;
}

.reset-button > * {
  height: fit-content;
}